SAMPLE_DOTNET_CODE/PARAMPOS_API_C-v1.7/TURPOS_API_C#-v1.7/com.turkpos.solution/com.turkpos.apidocs/Web References/tr.com.ew.dmzws1/service_ks.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://turkpara.com.tr/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://turkpara.com.tr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">TURK Elektronik Para A.Ş.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://turkpara.com.tr/">
      <s:element name="KS_Kart_Ekle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="G" type="tns:ST_WS_Guvenlik" />
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KK_Sahibi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KK_No" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KK_SK_Ay" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KK_SK_Yil" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KK_Kart_Adi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KK_Islem_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ST_WS_Guvenlik">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CLIENT_CODE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CLIENT_USERNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLIENT_PASSWORD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="KS_Kart_EkleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KS_Kart_EkleResult" type="tns:ST_KS_Kart_Ekle" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ST_KS_Kart_Ekle">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Sonuc" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Sonuc_Str" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KS_GUID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="KS_Kart_Liste">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="G" type="tns:ST_WS_Guvenlik" />
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KK_Kart_Adi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KK_Islem_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KS_Kart_ListeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KS_Kart_ListeResult" type="tns:ST_KS_Kart_Liste" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ST_KS_Kart_Liste">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Sonuc" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Sonuc_Str" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DT_Bilgi">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="KS_Kart_Sil">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="G" type="tns:ST_WS_Guvenlik" />
            <s:element minOccurs="0" maxOccurs="1" name="KS_GUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KK_Islem_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KS_Kart_SilResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KS_Kart_SilResult" type="tns:ST_Sonuc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ST_Sonuc">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Sonuc" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Sonuc_Str" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="KS_Tahsilat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="G" type="tns:ST_WS_Guvenlik" />
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KS_GUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CVV" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KK_Sahibi_GSM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Hata_URL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Basarili_URL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Siparis_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Siparis_Aciklama" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Taksit" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Islem_Tutar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Toplam_Tutar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Islem_Guvenlik_Tip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Islem_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IPAdr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ref_URL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KK_Islem_ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KS_TahsilatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KS_TahsilatResult" type="tns:ST_TP_Islem_Odeme" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ST_TP_Islem_Odeme">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Islem_ID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="UCD_URL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sonuc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sonuc_Str" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="KS_Kart_EkleSoapIn">
    <wsdl:part name="parameters" element="tns:KS_Kart_Ekle" />
  </wsdl:message>
  <wsdl:message name="KS_Kart_EkleSoapOut">
    <wsdl:part name="parameters" element="tns:KS_Kart_EkleResponse" />
  </wsdl:message>
  <wsdl:message name="KS_Kart_ListeSoapIn">
    <wsdl:part name="parameters" element="tns:KS_Kart_Liste" />
  </wsdl:message>
  <wsdl:message name="KS_Kart_ListeSoapOut">
    <wsdl:part name="parameters" element="tns:KS_Kart_ListeResponse" />
  </wsdl:message>
  <wsdl:message name="KS_Kart_SilSoapIn">
    <wsdl:part name="parameters" element="tns:KS_Kart_Sil" />
  </wsdl:message>
  <wsdl:message name="KS_Kart_SilSoapOut">
    <wsdl:part name="parameters" element="tns:KS_Kart_SilResponse" />
  </wsdl:message>
  <wsdl:message name="KS_TahsilatSoapIn">
    <wsdl:part name="parameters" element="tns:KS_Tahsilat" />
  </wsdl:message>
  <wsdl:message name="KS_TahsilatSoapOut">
    <wsdl:part name="parameters" element="tns:KS_TahsilatResponse" />
  </wsdl:message>
  <wsdl:portType name="TP_KSSoap">
    <wsdl:operation name="KS_Kart_Ekle">
      <wsdl:input message="tns:KS_Kart_EkleSoapIn" />
      <wsdl:output message="tns:KS_Kart_EkleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KS_Kart_Liste">
      <wsdl:input message="tns:KS_Kart_ListeSoapIn" />
      <wsdl:output message="tns:KS_Kart_ListeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KS_Kart_Sil">
      <wsdl:input message="tns:KS_Kart_SilSoapIn" />
      <wsdl:output message="tns:KS_Kart_SilSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KS_Tahsilat">
      <wsdl:input message="tns:KS_TahsilatSoapIn" />
      <wsdl:output message="tns:KS_TahsilatSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TP_KSHttpGet" />
  <wsdl:binding name="TP_KSSoap" type="tns:TP_KSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="KS_Kart_Ekle">
      <soap:operation soapAction="https://turkpara.com.tr/KS_Kart_Ekle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KS_Kart_Liste">
      <soap:operation soapAction="https://turkpara.com.tr/KS_Kart_Liste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KS_Kart_Sil">
      <soap:operation soapAction="https://turkpara.com.tr/KS_Kart_Sil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KS_Tahsilat">
      <soap:operation soapAction="https://turkpara.com.tr/KS_Tahsilat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TP_KSSoap12" type="tns:TP_KSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="KS_Kart_Ekle">
      <soap12:operation soapAction="https://turkpara.com.tr/KS_Kart_Ekle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KS_Kart_Liste">
      <soap12:operation soapAction="https://turkpara.com.tr/KS_Kart_Liste" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KS_Kart_Sil">
      <soap12:operation soapAction="https://turkpara.com.tr/KS_Kart_Sil" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KS_Tahsilat">
      <soap12:operation soapAction="https://turkpara.com.tr/KS_Tahsilat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TP_KSHttpGet" type="tns:TP_KSHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:service name="TP_KS">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">TURK Elektronik Para A.Ş.</wsdl:documentation>
    <wsdl:port name="TP_KSSoap" binding="tns:TP_KSSoap">
      <soap:address location="https://dmzws.ew.com.tr/out.ws/service_ks.asmx" />
    </wsdl:port>
    <wsdl:port name="TP_KSSoap12" binding="tns:TP_KSSoap12">
      <soap12:address location="https://dmzws.ew.com.tr/out.ws/service_ks.asmx" />
    </wsdl:port>
    <wsdl:port name="TP_KSHttpGet" binding="tns:TP_KSHttpGet">
      <http:address location="https://dmzws.ew.com.tr/out.ws/service_ks.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>